
/ {
  combos {
    compatible = "zmk,combos";

    Left_Square_Bracket {
      bindings = <&kp LEFT_BRACKET>;
      key-positions = <2 3>;
    };

    Right_Square_Bracket {
      bindings = <&kp RIGHT_BRACKET>;
      key-positions = <6 7>;
    };

    Tab {
      bindings = <&kp TAB>;
      key-positions = <12 13>;
    };

    Slash {
      bindings = <&kp SLASH>;
      key-positions = <17 18>;
    };

    Quote {
      bindings = <&kp SQT>;
      key-positions = <26 27>;
    };

    Backslash {
      bindings = <&kp BSLH>;
      key-positions = <22 23>;
    };

    Hyper {
      bindings = <&kp LG(LA(LCTRL))>;
      key-positions = <33 34>;
    };
  };
};
